<h1> <%=@party.name%></h1>
<h2> <%= @party.pitch%></h2>
<br> 
<%=link_to "Vote for this party", vote_party_path%>

Founded: <%= @party.year%><br>
Website: <%=link_to @party.website, "Web"%><br>
Find us on Twitter:<%=link_to @party.twitter, "Twitter"%><br>
<h3> Manifesto for 2019 Decemeber Election</h3><br>
<%=@party.manifesto%>
<br><br>

Leave a comment: 
<%=form_tag("/comments", method: :post) do %>
    <%= text_area_tag :text %><br> 
    <%= submit_tag "Comment"%>
<%end%>

