<%= render '/layouts/home-nav'%>

<!-- Header -->
    <header class="header text-white h-fullscreen overflow-hidden" style="background-color: #0439D9;">
      <canvas class="constellation" data-radius="0"></canvas>
      <%= render '/layouts/notice' %>

      <div class="container position-static">
        <div class="row align-items-center h-100">

        
           <div class="col-lg-7">
            <h1 class="display-6 fw-200">Know your Candidate <br> Make your voice heard…</h1>
              <div class="row gap-y">
                <% @leaders.each do |leader| %>
                  <div class="col-md-6 col-lg-3 team-1">
                    <a href="#">
                      <%= image_tag leader.picture %>
                    </a>
                    <h6><%= leader.name %></h6>
                    <small><%= leader.party.name %></small>
            
                  </div>
                <% end %>
              </div>
            
            <%= link_to 'Get Started', login_path, class: "red-btn btn btn-xl btn-round btn-outline-light w-300 px-6"  %>
          </div>

          <div class="col-lg-4 col-xl-3">
              <div class="sidebar px-4 py-md-0">

                <h6 class="sidebar-title">Current Polling</h6>
                <p class="mb-0"><%= @green.name %></p>
                <div class="progress">
                  <div class="color-<%= @green.name %> progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= @green.percentage %>%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><%= @green.name %></div>
                </div>

               
                <p class="mb-0"><%= @liberal.name %></p>
                 <div class="progress">
                  <div class="color-<%= @liberal.name %> progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= @liberal.percentage %>%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><%= @liberal.name %></div>
                </div>
                <p class="mb-0"><%= @conservative.name %></p>
                 <div class="progress">
                  <div class="color-<%= @conservative.name %> progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 35%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><%= @conservative.name %></div>
                </div>

                <p class="mb-0"><%= @labour.name %></p>
                 <div class="progress">
                  <div class="color-<%= @labour.name %> progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= @labour.percentage %>%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><%= @labour.name %></div>
                </div>

                  <hr>

                <h6 class="sidebar-title">Developers</h6>
                <a class="media text-default align-items-center mb-5" href="blog-single.html">
                  <%= image_tag "fangfei.png", class: "rounded w-65px mr-4" %>
                  <p class="media-body small-2 lh-4 mb-0">
                    Fangfei
                  </p>
                </a>

                <a class="media text-default align-items-center mb-5" href="blog-single.html">
                  <%= image_tag "peterayeni.png", class: "rounded w-65px mr-4" %>
                  <p class="media-body small-2 lh-4 mb-0">
                    Peter Ayeni
                  </p>
                </a>
              </div>
          </div>

        </div>
      </div>
    </header><!-- /.header -->
