<section class="sign-up-page section bg-img h-100">
<div class="container">
  <!-- Main Content -->
<main class="main-content layout-centered">

      <div class="bg-white rounded shadow-7 w-400 mw-100 p-6">
        <h5 class="mb-7">Sign Up</h5>

        <%= form_with(url: users_path, model: @user, local: true) do |f| %>
          <div class="form-group">
            <%= f.text_field :first_name, class: 'form-control', placeholder: :first_name %>
          </div>

          <div class="form-group">
            <%= f.text_field :last_name, class: 'form-control', placeholder: :last_name %>
          </div>

          <div class="form-group">
            <%= f.email_field :email, class: 'form-control', placeholder: :email %>
          </div>

          <div class="form-group">
           <%= f.label 'Date of Birth'  %>
            <%= f.date_field :dob, class: 'form-control'%>
          </div>

          <div class="form-group">
            <%= f.label :gender %>
            <%= f.radio_button(:gender, 'Female') %>
            <%= f.label('Female') %>
            <%= f.radio_button(:gender, 'Male') %>
            <%= f.label('Male') %>
            <%= f.radio_button(:gender, 'Other') %>
            <%= f.label('Other') %>
          </div>

          <div class="form-group">
            <%= f.label :region %>
            <%= f.collection_select(:council_id, Council.all, :id, :name, prompt: true, class: 'form-control' ) %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>

          <div class="form-group">
           <%= f.label :password_confirmation, "Confirmation" %>
           <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>

          <div class="form-group">
             <%= f.submit "Create my account", class: "btn btn-block btn-danger " %>
          </div>
        <% end %>

        <p class="text-center text-muted small-2">Already a member? <%= link_to 'Login here', login_path %></p>
      </div>

</main><!-- /.main-content -->
</div>
</section>