    <%= render '/layouts/party-nav'%>

    <!-- Header -->
    <header class="header text-center text-white" style="background-image: linear-gradient(-225deg, #0439D9 0%, #0439D9 48%, #0439D9 100%);">
      <div class="container">

        <div class="row">
          <div class="col-md-8 mx-auto">

            <h1>Welcome <%= @user.first_name %></h1>
            <hr class='w-100px'>
            <p class="lead-2 opacity-90 mt-3">Profile</p>
            

          </div>
        </div>

      </div>
    </header><!-- /.header -->


    <!-- Main Content -->
    <main class="main-content">
      <div class="section bg-gray">
        <div class="container">
          <div class="row">


            <div class="col-md-7 ">
                <h3> Your Party</h3>
                  <% if current_user.voting.nil? %>
                    <p>Currently you are not supporting any contesting party. 
                    <br>Please consider: 
                    <br>
                    <br>
                    <%= link_to 'Contesting Parties', parties_path, class: "red-btn btn btn-s btn-round btn-outline-light w-300 px-6" %>
                    <p>
                  <% else %>
                    <p>You voted for: <%= link_to current_user.party_name, party_path(current_user.party) %></p>
                  <% end %>
                  <hr>
                 <h3> Your Comments</h3>
                  <% if current_user.comments.empty? %>
                    <p>You haven't left any comment.
                    <br>
                    We would love to hear from you. <%= link_to 'Parties', parties_path%> 
                    </p>
                  <% else %>
                    <% current_user.comments.each do |comment| %>
                    <p><%= comment.text %></p>
                    <p>For: <%= comment.party.name %> | Posted: <%= time_ago_in_words(comment.created_at) %> ago.</p>
                    <hr>
                  <% end%>
                  <% end %>

</div>

            <div class="col-md-5 ">
              <div class="sidebar px-4 py-md-0">

                <h6 class="sidebar-title">Update Profile</h6>
                <%= render 'form' %>


              </div>
            </div>

          </div>
        </div>
      </div>
</main>


